@import "../../styles/include-media";
@import "../../styles/common";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: $dark;
  @include section-container(9rem, 0);
}

.textContainer {
  font-weight: 600;
  .top {
    p {
      font-size: 13.5vw;
      letter-spacing: -1rem;
      line-height: 15vh;
      text-align: right;
    }
  }

  .bottom {
    display: flex;
    gap: 1.75rem;

    & > p {
      font-size: 13.5vw;
      letter-spacing: -1rem;
    }

    & > div {
      text-align: right;
      margin-top: 3rem;
      p {
        font-size: 4vw;
        letter-spacing: -.1rem;
        line-height: 6.5vh;
      }
    }
  }
}

.imgContainer {
  margin-top: .75rem;
  margin-bottom: 4rem;
  display: flex;
  gap: 1.8rem;

  .imgBox {
    & > div:first-of-type {
      width: 32vw;
      height: 88vh;
      border: 3px solid #000;
      position: relative;
      
      .img {
        object-fit: cover;
      }
    }

    & > div:last-of-type {
      display: flex;
      justify-content: space-between;
      margin-top: .4rem;
      p {
        font-size: .85vw;
      }
    }
  }
}